<a target="_self" href="gig/{{gig.id}}">
    <div class="well hoverwell" style="background-image: linear-gradient(#484e55, #3a3f44 60%, #313539);">
        <div class="row">
            <img src="{{gig.imageUrl}}" style="width: 20%;" />
        </div>
        <div class="row">
            <h2 class="span6">{{gig.name}}</h2>
        </div>
        <div class="row">
            <span class="span1">Date:</span>
            <span> {{gig.date}}</span>
        </div>
        <div class="row">
            <span class="span1">Time</span>
            <span>{{gig.time}}</span>
        </div>
        <div class="row">
            <span class="span1">Location</span>
            <span>{{gig.location.address}}</span>
        </div>
        <div class="row">
            <span class="span1">&nbsp;</span>
            <span>{{gig.location.city}}, {{gig.location.province}}</span>
        </div>
    </div>
</a>
