<div class="jumbotron">
  <h1>Find A Gig!</h1>
  <p class="lead">
    <img src="images/Outlook-14-promo-shot.jpg" style="width: 90%;" alt="I'm Yeoman"><br>
  </p>

  <div class="row">
  <div>    
    <hr/>
    <hr/>
    <ul class="thumbnails">
        <li style="list-style: none;" ng-repeat="gig in gigs" class="span5">
            <gig-thumbnail gig="gig"/>
        </li>
    </ul>
</div>
</div>

  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<!--<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>-->

